<% 
  foto_path = asset_path("banner")
  if @list.photo.attached? 
    foto_path = cl_image_path(@list.photo.key)
  end
%>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= foto_path %>);">
  <div class="container">
    <h1><%= @list.name %> </h1>
    <p>List </p>
  </div>
</div>

<div class="container mt-4">
<%= link_to "Add new Movie to list", new_list_bookmark_path(params[:id]), class: "btn btn-primary" %>

<br>

<ul class="list-group">
  <% @list.movies.each do |movie|%>
    <li class="list-group-item"><%= movie.title %> 
      <%= link_to "Delete", bookmark_path(movie.bookmarks.find_by(list: @list)), method: :delete, data: { confirm: "Are you sure?" } %>
      <p>Comment: <%= movie.bookmarks.find_by(list: @list).comment %></p>
      <%= image_tag movie.poster_url, size: "200x250", alt: "movie poster" %>
    </li>
  <% end %>
</ul>
<%= link_to "All Lists",  lists_path %>


</div>