<% 
  foto_path = asset_path("banner")
  if @list.photo.attached? 
    foto_path = cl_image_path(@list.photo.key)
  end
%>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= foto_path %>);">
  <div class="container">
    <h1><%= @list.name %> </h1>
    <p>List </p>
  </div>
</div>

<div class="container">
<%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-primary" %>
<% end %>
<%= link_to "Back", list_path(@list) %>
</div>